body {
    background-color: green;
}

header {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
}

header li {
    border: 1px solid white;
    border-radius: 15px;
}

header div {
    border: 1px solid white;
    height: 20px;
    margin: 5px;
}

img {
    height: 50px;
    width: 50px;
}